.hello {
  font:
    20px Helvetica,
    Arial,
    sans-serif;
  background: #00cc0c;
  padding: 70px;
  text-align: center;
  transition: 70ms ease-in background;
}
.hello:hover {
  background: #000ccc;
}
